## DirectoryJumping
alias ~="cd ~"
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Docker
alias d="docker"
alias dp="docker ps -a"
alias di="docker images"
alias dc="docker-compose"
alias up="docker-compose up -d"
alias down="docker-compose down"
function dock {
    docker exec -it $1 /bin/bash;	
}

# Use the better version
alias vi=nvim
alias n="nvim ."
alias ls="eza --icons"
alias ll="eza -l --icons"

# alias cat="bat"
# alias grep="rg"
# alias find="fd"
# alias cd="z"
# alias top="btop"

# Language-specific:

## Laravel
# alias a="php artisan"
# alias sail="./vendor/bin/sail"

## Typescript
# alias t="npx ts-node ."
# alias tlive="npx onchange **/* -- npx ts-node ."

## Go
alias g="go run ."
alias air="~/go/bin/air"
alias got="go test ./..."
alias gotv="go test ./... -v"
alias w="wails dev"
